h5py==2.10.0
keras==2.2.4
keras-self-attention==0.49.0
librosa==0.7.2
llvmlite==0.31.0
numba==0.47.0
resampy==0.2.2
tensorflow==1.13.1
numpy==1.19.5
protobuf==3.20.*
matplotlib

# hubert deps on python: 3.7
torch==1.10.2
torchaudio==0.10.2
fairseq==0.12.2
setuptools==59.5.0

# CLI deps
runez